include MANIFEST.in
include LICENSE.txt
include requirements.txt

recursive-include LICENSES *.txt
recursive-include tests *.py
recursive-include src *.pyx *.pxd *.c
recursive-include epr-api-src *.c *.h

recursive-include doc *.txt *.py Makefile make.bat *.png
recursive-include doc/_templates *.html
recursive-include doc/pydoctheme *
recursive-include doc/html *
recursive-exclude doc/_build *
