name: Docs

on:
  push:
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install docs dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          python -m pip install sphinx sphinxcontrib-spelling
          python -m pip install .
          if [ -f requirements-dev.txt ]; then python -m pip install -r requirements-dev.txt; fi

      - name: Build docs
        run: |
          mkdir -p _static
          python3 -m sphinx -W -b html docs docs/_build/html

      - name: Check links
        run: |
          mkdir -p _static
          python3 -m sphinx -W -b linkcheck docs docs/_build/linkcheck

      # - name: Doctest
      #   run: |
      #     mkdir -p _static
      #     python3 -m sphinx -W -b doctest docs docs/_build/doctest

      - name: Spellcheck
        run: |
          mkdir -p _static
          python3 -m sphinx -W -b spelling docs docs/_build/spelling
