name: Lint

on:
  push:
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

env:
  PACKAGE: epr

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install lint dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          python -m pip install --group lint

      - name: Lint (flake8)
        run: |
          python -m flake8 --version
          python -m flake8 --count --show-source --statistics src/${PACKAGE} tests

      - name: Lint (pydocstyle)
        run: |
          python -m pydocstyle --version
          python -m pydocstyle --count src/${PACKAGE}

      # - name: Lint (isort)
      #   run: |
      #     python -m isort --version
      #     python -m isort --check src/${PACKAGE} tests

      - name: Lint (black)
        run: |
          python -m black --version
          python -m black --check src/${PACKAGE} tests
          # python -m black --diff src/${PACKAGE} tests

      - name: Lint (mypy)
        env:
          PYTHONPATH: src
        run: |
          python -m mypy --version
          python -m mypy --check-untyped-defs --ignore-missing-imports -p ${PACKAGE}

      - name: Lint (ruff)
        run: |
          ruff --version
          ruff check src/${PACKAGE} tests

      - name: Lint (codespell)
        run: |
          codespell --version
          codespell --count src/${PACKAGE} tests
