name: Wheels

on:
  push:
    branches:
      - 'releases/**'
      - 'ci/**'
    tags:
      - v*
  pull_request:
  release:
    types:
      - published

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build_sdist:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'true'

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install build twine

      - name: Build the package
        run: |
          python -m build --sdist
          python -m twine check dist/*

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: |
            dist/*.tar.gz

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    if: github.event_name != 'pull_request' || contains(github.event.pull_request.title, 'wheel')
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.0

      - uses: actions/upload-artifact@v6
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
